body {
    min-width: 400px;
}

.accordion-body {
    width: 100%;
    border-bottom: 3px solid rgb(190, 209, 236);
    border-left: 3px solid rgb(190, 209, 236);
    border-right: 3px solid rgb(190, 209, 236);
}

#logo_a {
    display: flex;
    width: 15%;
    color: rgb(78, 78, 231);
    justify-content: center;
    text-align: center;
}

/* contenedor del logo y nomnbre */
.nombre_jvc {
    padding-top: 18px;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
    color: green;
    letter-spacing: -3px;
}

/* contenedor  dlu de los li*/
.navbar {
    height: 70px;
    padding-right: 40px;
    font-size: 25px;
}

li {
    padding-left: 15px;
}

.desarrollo_h1 {
    color: rgb(16, 16, 170);
}

@media screen and (max-width: 1000px) {

    /* Si el ancho de la pantalla es igual o menor a 1000px, oculta el logo */
    #logo_jvc {
        display: none !important;
    }
}

/* cuerpo de informacion o tablero general */

#tablero {
    display: flex;
    flex-direction: row;

}

#inf_personal {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%;
    width: 25%;
    height: 94vh;
    background: rgb(72, 72, 72);
}

#jmvc {
    font-family: 'Monoton', sans-serif;
    font-family: 'Rye', serif;
}

.linea_w {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 98%;
    border: solid 1px rgb(185, 184, 184);
}

#linea_w_span {
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    color: white;
    padding-right: 20px;
}

.p1 {
    font-size: 16px;
    text-align: justify;
}

.p2 {
    font-size: 20px;
    text-align: justify;
}

#img_foto {
    width: 50%;
    margin-top: 10px;
    border-radius: 50%;
}

#inf_adicional {
    width: 75%;
    height: 94vh;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 25px solid rgb(72, 72, 72);
    border-right: 25px solid rgb(72, 72, 72);
    border-bottom: 40px solid rgb(72, 72, 72);
}

.linea {
    margin-top: 0px;
    width: 100%;
    height: 1PX;
    border: 1px solid rgb(199, 196, 196);
}

/* modulo desarrollo incluido dentro de cuerpo*/

#primera_linea {
    width: 100%;
}

.desarrollo_color {
    font-size: 27px;
    color: rgb(143, 139, 139);
    margin-bottom: 0;
}

.datos_contacto {
    font-size: 20px;
    color: rgb(143, 139, 139);
    margin-bottom: 0;
}

.img_25 {
    width: 22px;
    color: rgb(151, 148, 148);
}

.content_p {
    font-size: 20px;
    text-align: justify;
}

.p_span {
    font-weight: bold;
}

.acordion-button:hover {
    font-size: 0.8em;
    color: darkgreen;
}

.punto {
    font-size: 35px;
    margin-left: -10px;
    width: 20%;
    height: 4vh;
    margin-left: -20px;
}


/*

  cajon para todos los estudios

*/

#cajon_academico {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65vh;
    display: flex;

}

#borde_left {
    margin-top: 20px;
    margin-left: 15px;
    width: 1;
    height: 62vh;
    border-left: 1px solid green;
}

/*
   Cajon para titulos UNIVERSITARIOS

*/
.univ {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: bold !important;
    font-size: 20px !important;
    color: rgb(118, 120, 128) !important;
}

.accordion-button {
    font-size: 20px;
}

.accordion-button img {
    width: 15px;
    margin-right: 10px;
}

.acordeon-welcome {
    font-family: 'Rokkitt', serif;
    margin-right: 40px;
    font-size: 22px;
    text-align: justify;
    min-height: 200px;
    color: rgb(104, 100, 100);
}

.acordeon-welcome img {
    float: left;
    width: 15vw;
    margin-right: 20px;
}


.acordeon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    font-size: 25px;
    text-align: justify;
}

.acordeon img {
    float: left;
    width: 15vw;
    /* Hacer que la imagen flote a la izquierda
    margin-right: 20px;*/
    /* Agregar un margen derecho para separar el texto de la imagen */
}

.univ_t {
    width: 17vw;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
}

.certificados {
    padding: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #eceaea 0%, #c0bebe 100%) 5 round;
}

.certificados label {
    font-size: 20px;
    font-weight: bold;
    color: rgb(133, 128, 128);
}

.www {
    font-size: 10px;
    line-height: .8;
}

.certificado_p1 {
    line-height: 1;
    font-size: 20px !important;
    color: rgb(173, 146, 25);
}

.certificados p {
    margin: 0;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* PRUBE TABLA */

table {
    width: 100%;
}

.encabezado_menu {
    background-color: rgb(230, 231, 236);
}

.encabezado_menu th {
    padding: 0 5px;
    border: 4px solid white;
    font-size: 25px;
    color: rgb(131, 131, 175);
}

table,
td {
    border: 3px solid white;
    background-color: rgb(237, 240, 243);
    padding: 0 5px;
}

table tr td:first-child {
    font-size: 18px;
    color: rgb(145, 138, 138);
    font-weight: bold;
}

table tr td:first-child+td {
    color: rgb(72, 72, 112);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Petrona', serif;

}

table tr td:nth-child(3) {
    color: rgb(128, 123, 123);
    font-size: 15px;
}

.link_certificados {
    width: 95%;
    border-radius: 50%;
    display: flex;
    background-color: rgb(185, 182, 182);
    justify-content: center;
    align-items: center !important;
}

.link_certificados:hover {
    background-color: rgb(142, 156, 233);
}

.link_certificados img:hover {

    width: 20px;
    animation: move-lupa 1s ease-in-out infinite alternate;
}

@keyframes move-lupa {
    from {
        transform: scale(1) translateX(0);

    }

    to {
        transform: scale(1.5) translateX(10px);

    }
}

.p30{
 width: 30% !important;
 }
